<style>
	#modal-content {
		margin-top: 50px;
	}

	.item-thumbnail-top img {
		height: 75px;
		width: 75px;
	}

	.item {
		border: 0;
	}

	.item p {
		font-size: 10px;
	}

	.button-risen {
		padding: 0 10px;
		width: 100%;
	}
</style>
<ion-modal-view>
	<ion-bar-header class="bar-royal" align-title="left">
   		<button class="button button-fab button-stable" style="float: right; margin: 5px 50px" ng-click="closeFilter()"><i class="icon ion-chevron-up"></i></button>
   		<div class="nav-bar-block" nav-bar="active">
   			<ion-header-bar class="bar-royal bar bar-header disable-user-behavior" align-title="left">
   				<div class="title title-left header-item">Filter Events</div>
   			</ion-header-bar>
   		</div>
    </ion-bar-header>

   	<ion-content id="modal-content">
	    <div class="row">
	    	<div class="col">
	            <a class="item item-thumbnail-top"> 
	                <img src="img/recreation.png"> 
	                <p style="text-align: center">Recreation</p> 
	            </a> 
	        </div>
	        <div class="col">
	            <a class="item item-thumbnail-top"> 
	                <img src="img/entertainment.png"> 
	                <p style="text-align: center">Entertainment</p> 
	            </a> 
	        </div>
	        <div class="col">
	            <a class="item item-thumbnail-top"> 
	                <img src="img/Food and Drink.png"> 
	                <p style="text-align: center">Food & Drink</p> 
	            </a> 
	        </div>
        </div>

        <div class="row">
	    	<div class="col">
	            <a class="item item-thumbnail-top"> 
	                <img src="img/attractions.png"> 
	                <p style="text-align: center">Attractions</p> 
	            </a> 
	        </div>
	        <div class="col">
	            <a class="item item-thumbnail-top"> 
	                <img src="img/Page 1.png"> 
	                <p style="text-align: center">Community</p> 
	            </a> 
	        </div>
	        <div class="col">
	            <a class="item item-thumbnail-top"> 
	                <img src="img/Fun and Games.png"> 
	                <p style="text-align: center">Fun & Games</p> 
	            </a> 
	        </div>
        </div>

       	<div class="row">
	        <div class="col col-33">
			  	<a class="button button-risen button-energized-900">Right Now</a>
			</div>
			<div class="col col-33">
			  	<a class="button button-risen button-energized">Today</a>
			</div>
			<div class="col col-33">
			  	<a class="button button-risen button-balanced">Tomorrow</a>
			</div>
		</div>
   	</ion-content>
</ion-modal-view>