<style>
	.item-thumbnail-top img {
		border-radius: 50%;
		height: 75px;
		width: 75px;
	}
</style>
<ion-modal-view>
   	<ion-content>
   		<div class="row">
	   		<div class="col col-80">
	     		<h4>Filter Events</h4>
	     	</div>
	     	<div class="col">
	       		<button class="button button-clear button-dark ink-dark" ng-click="closeFilter()"><i class="icon ion-chevron-up"></i></button>
	     	</div>
	    </div>

	    <div class="list half">
            <a class="item item-thumbnail-top"> 
                <img src="img/sansa-snowcastle.png"> 
                <p>Category 1</p> 
            </a> 
            <a class="item item-thumbnail-top"> 
                <img src="img/sansa-snowcastle.png"> 
                <p>Category 2</p> 
            </a> 
            <a class="item item-thumbnail-top"> 
                <img src="img/sansa-snowcastle.png"> 
                <p>Category 3</p>
            </a> 
        </div>

        <div class="list half">
            <a class="item item-thumbnail-top"> 
                <img src="img/sansa-snowcastle.png"> 
                <p>Category 4</p> 
            </a> 
            <a class="item item-thumbnail-top"> 
                <img src="img/sansa-snowcastle.png"> 
                <p>Category 5</p> 
            </a> 
            <a class="item item-thumbnail-top"> 
                <img src="img/sansa-snowcastle.png"> 
                <p>Category 6</p>
            </a> 
        </div>

       	<div class="row">
	        <div class="col">
			  	<a class="button button-risen button-energized-900">Right Now</a>
			</div>
			<div class="col">
			  	<a class="button button-risen button-energized">Today</a>
			</div>
			<div class="col">
			  	<a class="button button-risen button-balanced">Tomorrow</a>
			</div>
		</div>
   	</ion-content>
</ion-modal-view>