<style>
	#modal-content {
		margin-top: 100px;
	}

	.item-thumbnail-top img {
		border-radius: 50%;
		height: 75px;
		width: 75px;
	}

	.item {
		border: 0;
	}

	.item p {
		font-size: 10px;
	}

	.button-risen {
		padding: 0 10px;
		width: 100%;
	}
</style>
<ion-modal-view>
	<ion-nav-bar class="bar-dark" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
   		<button class="button button-fab button-stable button-fab-top-right expanded" ng-click="closeFilter()"><i class="icon ion-chevron-up"></i></button>
   		<div class="nav-bar-block" nav-bar="active">
   			<ion-header-bar class="bar-dark bar bar-header disable-user-behavior" align-title="left">
   				<div class="title title-left header-item">Filter Events</div>
   			</ion-header-bar>
   		</div>
    </ion-nav-bar>

   	<ion-content id="modal-content">
	    <div class="row">
	    	<div class="col">
	            <a class="item item-thumbnail-top"> 
	                <img src="http://placehold.it/75x75"> 
	                <p style="text-align: center">Recreation</p> 
	            </a> 
	        </div>
	        <div class="col">
	            <a class="item item-thumbnail-top"> 
	                <img src="http://placehold.it/75x75"> 
	                <p style="text-align: center">Entertainment</p> 
	            </a> 
	        </div>
	        <div class="col">
	            <a class="item item-thumbnail-top"> 
	                <img src="http://placehold.it/75x75"> 
	                <p style="text-align: center">Food & Drink</p> 
	            </a> 
	        </div>
        </div>

        <div class="row">
	    	<div class="col">
	            <a class="item item-thumbnail-top"> 
	                <img src="http://placehold.it/75x75"> 
	                <p style="text-align: center">Attractions</p> 
	            </a> 
	        </div>
	        <div class="col">
	            <a class="item item-thumbnail-top"> 
	                <img src="http://placehold.it/75x75"> 
	                <p style="text-align: center">Community</p> 
	            </a> 
	        </div>
	        <div class="col">
	            <a class="item item-thumbnail-top"> 
	                <img src="http://placehold.it/75x75"> 
	                <p style="text-align: center">Fun & Games</p> 
	            </a> 
	        </div>
        </div>

       	<div class="row">
	        <div class="col col-33">
			  	<a class="button button-risen button-energized-900">Right Now</a>
			</div>
			<div class="col col-33">
			  	<a class="button button-risen button-energized">Today</a>
			</div>
			<div class="col col-33">
			  	<a class="button button-risen button-balanced">Tomorrow</a>
			</div>
		</div>
   	</ion-content>
</ion-modal-view>