<ion-view view-title="Events">
    <ion-content class="animate-fade-slide-in">
        <div class="content">
            <div class="list animate-fade-slide-in-right">
                <a ng-click="showPopup()" class="item item-avatar item-icon-right">
                    <img src="http://placehold.it/75x75">
                    <h2>Event Title</h2>
                    <p>Event Organizer</p>
                    <i class="icon ion-star muted"></i>
                </a>
                <a ng-click="showPopup()" class="item item-avatar item-icon-right">
                    <img src="http://placehold.it/75x75">
                    <h2>Event Title</h2>
                    <p>Event Organizer</p>
                    <i class="icon ion-star muted"></i>
                </a>
                <a ng-click="showPopup()" class="item item-avatar item-icon-right">
                    <img src="http://placehold.it/75x75">
                    <h2>Event Title</h2>
                    <p>Event Organizer</p>
                    <i class="icon ion-star muted"></i>
                </a>
                <a ng-click="showPopup()" class="item item-avatar item-icon-right">
                    <img src="http://placehold.it/75x75">
                    <h2>Event Title</h2>
                    <p>Event Organizer</p>
                    <i class="icon ion-star muted"></i>
                </a>
                <a ng-click="showPopup()" class="item item-avatar item-icon-right">
                    <img src="http://placehold.it/75x75">
                    <h2>Event Title</h2>
                    <p>Event Organizer</p>
                    <i class="icon ion-star muted"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
