<ion-view view-title="Events" align-title="left">
    <ion-nav-bar class="bar-royal">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-android-arrow-back" menu-toggle="right" ng-click="$ionicGoBack($event)"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    
    <ion-content class="animate-fade-slide-in">
        <div class="content">
            <div class="list animate-fade-slide-in-right">
                <a ng-click="showPopup()" class="item item-avatar item-icon-right">
                    <img src="http://placehold.it/75x75">
                    <h2>Event Title</h2>
                    <p>Event Organizer</p>
                    <i class="icon ion-star muted"></i>
                </a>
                <a ng-click="showPopup()" class="item item-avatar item-icon-right">
                    <img src="http://placehold.it/75x75">
                    <h2>Event Title</h2>
                    <p>Event Organizer</p>
                    <i class="icon ion-star muted"></i>
                </a>
                <a ng-click="showPopup()" class="item item-avatar item-icon-right">
                    <img src="http://placehold.it/75x75">
                    <h2>Event Title</h2>
                    <p>Event Organizer</p>
                    <i class="icon ion-star muted"></i>
                </a>
                <a ng-click="showPopup()" class="item item-avatar item-icon-right">
                    <img src="http://placehold.it/75x75">
                    <h2>Event Title</h2>
                    <p>Event Organizer</p>
                    <i class="icon ion-star muted"></i>
                </a>
                <a ng-click="showPopup()" class="item item-avatar item-icon-right">
                    <img src="http://placehold.it/75x75">
                    <h2>Event Title</h2>
                    <p>Event Organizer</p>
                    <i class="icon ion-star muted"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
