<style>
	#switch {
		position: absolute;
		bottom: 10%;
	}
</style>

<ion-view view-title="Filter Events" align-title="left">
	<ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
 		<div class="row">
 			<div class="col">
 				Here goes the map.
 			</div>
 		</div>

 		<div class="row" id="switch">
 			<div class="col col-33">
 				<div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
	                <div class="ink clear-bg" style="text-align: center">
	                    <img class="full-image" src="http://placehold.it/112x67">
	                    <p>Radar View</p>
	                </div>
	            </div>
 			</div>
 		</div>

 		<div class="tabs tabs-icon-top">
		  	<a class="tab-item" ui-sref="app.friends">
		    	<i class="icon ion-ios-flask-outline"></i>
		    	Random
		  	</a>
		  	<a class="tab-item" ui-sref="app.activity">
		    	<i class="icon ion-plus"></i>
		    	Add Event
		  	</a>
		  	<a class="tab-item" ui-sref="app.gallery">
		    	<i class="icon ion-archive"></i>
		    	My Events
		  	</a>
		  	<a class="tab-item" ui-sref="app.profile">
		    	<i class="icon ion-person"></i>
		    	Profile
		  	</a>
		</div>
 	</ion-content>
 	
 	<!-- <ion-footer-bar align-title="center" class="bar-light">
 		<div class="button-bar">
 		  	<a class="button icon ion-ios-flask-outline" href="#/app/gallery"></a>
 		  	<a class="button icon ion-plus" href="#/app/friends"></a>
 		  	<a class="button icon ion-archive" href="#/app/activity"></a>
 		  	<a class="button icon ion-person" href="#/app/profile"></a>
 		</div>
 	</ion-footer-bar> -->
</ion-view>