<style type="text/css">
	#map { position:inherit !important; }
</style>
<ion-view view-title="Filter Events" align-title="left">
	<ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
 		<div id="map"></div>

 		<div class="tabs tabs-positive tabs-icon-only">
		  	<a class="tab-item" ui-sref="app.event">
		    	<img src="img/Random.png"/>
		  	</a>
		  	<a class="tab-item" ui-sref="create_event">
		    	<img src="img/Add New.png"/>
		  	</a>
		  	<a class="tab-item" ui-sref="events">
		    	<img src="img/Joined.png"/>
		  	</a>
		  	<a class="tab-item" ui-sref="app.profile">
		    	<img src="img/Profile.png"/>
		  	</a>
		</div>
 	</ion-content>
</ion-view>