<ion-view view-title="Filter Events" align-title="left">
	<ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
 		<div class="row">
 			<div class="col">
 				Here goes the radar.
 			</div>
 		</div>

 		<div class="tabs tabs-icon-top">
		  	<a class="tab-item" ui-sref="app.friends">
		    	<i class="icon ion-ios-flask-outline"></i>
		    	Random
		  	</a>
		  	<a class="tab-item" ui-sref="app.create_event">
		    	<i class="icon ion-plus"></i>
		    	Add Event
		  	</a>
		  	<a class="tab-item" ui-sref="app.gallery">
		    	<i class="icon ion-archive"></i>
		    	My Events
		  	</a>
		  	<a class="tab-item" ui-sref="app.profile">
		    	<i class="icon ion-person"></i>
		    	Profile
		  	</a>
		</div>
 	</ion-content>
</ion-view>