<style type="text/css">
.body
{
    background-color:#883D97;
}
.hero.no-header
{
    height: 226px;
    margin-bottom: 40px;
}   
.item-md-label .input-label
{
    letter-spacing: 0px;
}
button.button.button-full.button-assertive.ink:hover
{
    background-color:#389F88;
} 
</style>

<ion-view view-title="Login" align-title="left">
    <ion-content class="body">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="Username" highlight-color="balanced" type="text" ng-model="user.username"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized" type="password" ng-model="user.password"></ion-md-input>
        </div>
        <div class="padding">
            <button ng-click="login()" class="button button-full button-assertive ink">Login</button>
        </div>
        <!-- <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div> -->
    </ion-content>
</ion-view>
