<ion-view view-title="Profile">
    <ion-content>
        <div class="hero slide-up" style="background-color: #EBEFF2;">
            <div class="content">
                <div class="avatar" style="background-image: url('img/damian.png');"></div>
                <h4 style="margin-bottom:0px;">Damian Trumpxican</h4>
                <i class="button icon-left ion-star button-clear button-dark" style="padding:0; color:#FEC105;"><span style="color:#6F6F74;">4</span></i>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <span class="tab-item" style="padding-top: 8px;"><span class="top">3320</span>Followers</span>
            <span class="tab-item" style="padding-top: 8px;"><span class="top">350</span>Following</span>
            <span class="tab-item" style="padding-top: 8px;"><span class="top">34</span>Badges</span>
        </div>
        <div class="list animate-fade-slide-in-right">
            <a ui-sref="app.my_event" class="item item-icon-right profile_item" ng-repeat="event in events">
                <div class="row">
                    <div class="col col-90">
                        <h2>{{event.nombre}}</h2>
                    </div>
                    <div class="col">
                        <p class="subdued" style="font-size: 18px">
                            <i class="icon-right ion-star" style="color:#FEC105;"></i>
                            {{event.estrellas}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-90">
                        <p class="subdued" style="font-size: 16px">
                            <img src="img/Joined - Event List.png"/> {{event.personas}}
                        </p>
                    </div>

                    <div class="col">
                        <p class="subdued">{{event.horario}}</p>
                    </div>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>
