<ion-view view-title="Let's Do Something">
	<ion-content>
		<div class="row">
			<div class="col col-80">
	  			<h4 class="title">Filter</h4>
	  		</div>
	  		<div class="col">
	    		<a class="button button-light icon ion-ios-arrow-down" ng-click="filter()"></a>
	  		</div>
	  	</div>
	  	<div class="row">
	  		<div class="col">
				Here goes the map.
			</div>
		</div>
	</ion-content>
	
	<ion-footer-bar align-title="center" class="bar-light">
		<div class="button-bar">
		  	<a class="button icon ion-ios-flask-outline"></a>
		  	<a class="button icon ion-plus"></a>
		  	<a class="button icon ion-archive"></a>
		  	<a class="button icon ion-person"></a>
		</div>
	</ion-footer-bar>
</ion-view>
